::ng-deep body {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background-color: snow;
}

.wrapper {
    border: 1px solid silver;
    margin: auto;
    padding: 25px;
}

.menuStyle {
    margin-bottom: 20px;
}
